@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #FFF;
    overflow-x: hidden;
}

footer {
    text-align: center;
    margin: 50px 0px;
}

.loading {
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
